<!DOCTYPE html>
<head>
    <link rel='stylesheet', href='/stylesheets/elem.css'>
</head>
<body data-scrollSpy="spyDiv">
    <div class="elem-2col-left">
        <div class="elem-sidebar elem-sidebar-fixed">
            <div class="elem-sidebar-title">导航菜单</div>
            <ul class="elem-sidebar-nav">
                <li class="active" data-show="div1">1</li>
                <li data-show="div2">2</li>
            </ul>
        </div>
    </div>
    <div id="spyDiv" class="elem-2col-right">
        <div id="div1" class="elem-page">
            <div class="elem-page-header">div1</div>
            <div class="elem-page-center">div1</div>
        </div>
        <div id="div2" class="elem-page">
            <div class="elem-page-header">div2</div>
        </div>
    </div>
    <script src= '/javascripts/jquery-3.2.1.min.js' type="text/javascript"></script>
    <script src='/javascripts/elem.js' type='text/javascript'></script>
</body>