<!DOCTYPE html>
<head>
    <link rel='stylesheet', href='/stylesheets/index.css'>
</head>
<body>
<div>
    <div class="live-window">
        <div class="videoPort">
            <div class="living">
                <div class="video"></div>
                <div class="shareInfo">
                    <div class="shareInfoImage"></div>
                    <div class="shareInfoRight">
                        <div class="shareHost">主播</div>
                        <div class="shareTitle">
                            与您分享一个楼盘资讯
                        </div>
                        <div class="shareText">
                            荣盛阿尔卡迪亚花语城荣盛阿尔卡迪亚花语城语…
                        </div>
                    </div>
                </div>
                <div class="shareActivity">
                    <div class="shareActivityNoimage">
                        <div class="shareHost">主播</div>
                        <div class="shareTitle">
                            为您推荐了一个活动
                        </div>
                        <div class="shareText">
                            7月1日昌平临铁纯新在售热盘看房团
                        </div>
                    </div>
                </div>
                <div class="likeBtn">
                    <div class="likeBtnCnt">567</div>
                </div>
                <div class="controlPanel"></div>
            </div>
            <div class="liveover"></div>
        </div>
        <div class="sidePort">
            <div class="host">
                <div class="hostHead"></div>
                <div class="hostName">王佳</div>
                <div class="hostCert"></div>
                <div class="hostClass">资深房产专家</div>
                <div class="followBtn">关注</div>
                <div class="dividingLine"></div>
                <div class="hostContact">
                    <div class="hostTel">13100202221</div>
                    <div class="hostWechat">wangjia13100202221</div>
                </div>
            </div>
            <div class="commentPort">
                <p class="multiLinesComment"><span class="commentor">Taylor：</span>今年这房价醉了。</p>
                <p class="multiLinesComment"><span class="commentor">风之谷：</span>这样的要求是对买自住房人群的尊重，体现了公平公正，公正、公开原则，为这样政策的出台点赞，好政策还需要相关部门加强监督与管理，做到把实事做到实处，把好事情做好。</p>
                <p class="multiLinesComment"><span class="commentor">Taylor：</span>5环内还找得到五万以下的房子吗？</p>
                <p class="enterRoomAlert"><span class="enterName">上海阿毛</span>进入直播间</p>
                <p class="multiLinesComment"><span class="commentor">花提：</span>附近环境怎么啊主播。</p>
                <p class="enterRoomAlert"><span class="enterName">南半球米亚</span>进入直播间</p>
            </div>
            <div class="commentEditor">
                <span class="commentHint"><span class="commentHintHeader">登录</span>后，才可以聊天哦</span>
                <input class="commentInput" placeholder="">
                <div class="commentBtn">发送</div>
            </div>
        </div>
    </div>
</div>
</body>