* {
    padding: 0;
    margin: 0;
}

.live-window {
    height: 500px;
}

.videoPort {
    width: 895px;
    height: 100%;
    background-image: url('/images/symbols-背景大图.png');
    background-size: 100%;
    float: left;
    position: relative;
}

.sidePort {
    width: 305px;
    height: 100%;
    background: #333333;
    margin-left: 895px;
}

.shareInfo, .shareActivity {
    position: absolute;
    top: 78px;
    height: 56px;
}

.shareInfo {
    left: 31px;
}

.shareActivity {
    left: 594px;
}

.shareInfoImage {
    width: 74px;
    height: 100%;
    background: #fff;
    background-size: 100%;
    float: left;
}

.shareInfoRight, .shareActivityNoimage {
    height: 42px;
    background: rgba(0,0,0,0.4);
    padding: 7px 10px;
    position: relative;
}

.shareInfoRight {
    max-width: 352px;
    margin-left: 74px;
}

.shareActivityNoimage {
    max-width: 256px;
}

.shareHost {
    color: #EC9C12;
    font-size: 12px;
    height: 17px;
    line-height: 17px;
    float: left
}

.shareTitle {
    margin-left: 28px;
    max-width: 120px;
    height: 17px;
    font-size: 12px;
    color: #fff;
    line-height: 17px;
    max-width: 120px
}

.shareText {
    font-size: 16px;
    color: #fff;
    line-height: 17px;
    max-width: 360px;
    height: 17px;
    margin-top: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.likeBtn {
    position: absolute;
    left: 815px;
    top: 382px;
    height: 60px;
    width: 50px;
    background: url('/images/赞.png') no-repeat;
    background-size: 50px 50px;
}

.likeBtnCnt {
    position: absolute;
    bottom: 0px;
    width: 50px;
    height: 16px;
    background: #fff;
    border-radius: 100px;
    font-size: 12px;
    color: #F49819;
    line-height: 16px;
    text-align: center;
}

.host {
    width: 100%;
    height: 140px;
    background: rgba(102,102,102,0.99);
    position: relative;
}

.host > div {
    position: absolute;
}

.hostHead {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 25px;
    left: 21px;
    top: 21px;
}

.hostName {
    left: 90px;
    top: 20px;
    width: 100px;
    height: 20px;
    font-family: .PingFangSC-Regular;
    font-size: 20px;
    color: #fff;
    line-height: 20px;
}

.hostCert {
    left: 88px;
    top: 48px;
    width: 20px;
    height: 20px;
    background: url('/images/symbols-认证.png') no-repeat center;
    background-size: 16px 20px;
}

.hostClass {
    left: 111px;
    top: 51px;
    width: 86px;
    height: 16px;
    opacity: 0.85;
    font-family: .PingFangSC-Regular;
    font-size: 14px;
    color: #fff;
    line-height: 16px;
}

.followBtn {
    left: 217px;
    top: 29px;
    width: 68px;
    height: 34px;
    background: #F49819;
    border-radius: 100px;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0;
}

.dividingLine {
    top: 80px;
    left: 20px;
    width: 265px;
    height: 0px;
    border-top: 1px solid rgba(153,153,153,0.3);
}

.hostContact {
    left: 20px;
    top: 91px;
}

.hostTel, .hostWechat {
    height: 14px;
    padding: 1px 0px 1px 20px;
    background: no-repeat left;
    font-size: 14px;
    color: #F49819;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 8px;
}

.hostTel {
    background-image: url('/images/电话.png');
}

.hostWechat {
    background-image: url('/images/微信.png');
}

.commentPort {
    position: relative;
    height: 283px;
    overflow: auto;
    padding: 15px 10px 0px;
}

.multiLinesComment {
    padding: 4px 0px;
    font-size: 12px;
    color: #fff;
    line-height: 24px;
}

.enterRoomAlert {
    padding: 10px 0px;
    font-size: 12px;
    color: #999;
    line-height: 17px;
}

.commentor {
    color: #999;
}

.enterName {
    color: #F49819;
}

.commentEditor {
    height: 40px;
    background: rgba(102,102,102,0.99);
    padding: 12px 10px 10px;
    position: relative;
}

.commentInput {
    width: 167px;
    height: 40px;
    background: #333;
    border: none;
    border-radius: 100px;
    padding: 0 20px;
    margin-right: 10px;
    float: left;
    line-height: 14px;
    color: #999;
}

.commentBtn {
    width: 68px;
    height: 40px;
    background: #F49819;
    border-radius: 100px;
    text-align: center;
    line-height: 40px;
    float: right;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
}

.commentHint {
    position: absolute;
    top: 22px;
    left: 30px;
    font-size: 14px;
}
.commentHintHeader {
    color: #F49819;
}